include README.md
include LICENSE
include src/gatehouse/python_gate

recursive-include src/gatehouse/rules *.yaml
recursive-include src/gatehouse/schemas *.yaml
recursive-include src/gatehouse/cli *.yaml
recursive-include src/gatehouse/cli/templates *.yaml
recursive-include src/gatehouse/plugins *.py
recursive-include examples *.py *.json *.yaml
